{:mixers ["ifmx" "lstnr" "djselene" "interrference"
          "docsleep" "marsmanpinkman" "IRONBLU" "The_Attic"
          "discotto" "SEER_Radio" "Moguh" "Down_The_Rabbit_Hole"
          "Casionova", "yAsh", "davidvunk", "Vergaarbak", "isabellavenis"
          "bazreznik", "SlickChick", "Moguh", "Down_The_Rabbit_Hole",
          "MagicWaves", "EnfantTerrible", "marsmanpinkman", "romskip"]
 :s3-bucket "ifm-mixcloud"
 :s3-key "mixcloud-recent.json"
 :url "https://api.mixcloud.com"
 :max-per-request 10
 :total-results 10}
